<!--This page creates a new view in the views folder-->
<!DOCTYPE html>
    <head>
        <title>Todo App</title>

        <!-- linking the stylesheet -->
        <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
        <!-- linking the Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
        <!-- linking the Font Awesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>

    <body>
        <div class="todo-container">
            <h2>To-Do List</h2>
            <!-- form to add a new task -->
            <div class="todo">
                <form action="" method="POST" class="todo-header">
                    <input type="text" name="content">
                    <button type="submit"><span class="fas fa-plus"></span></button>
                </form>
                <!-- list of tasks -->
                <ul class="todo-list">
                <!-- loop through the list of tasks -->
                <% todoTasks.forEach(details => { %>
                <!-- check if the current task is the one being edited -->
                <% if (details._id == idTask) { %>
                <!-- if it is being edited, show the edit form -->
                <li class="todo-list-item">
                    <form action="/edit/<%= details._id %>" method="POST">
                        <input type="text" value="<%= details.content %>" name="content">
                        <button type="submit">Confirm</button>
                        <a href="/" class="cancel">Cancel</a>
                    </form>
                </li>
                <!-- if it is not being edited, show the task details -->
                <% } else { %>
                <li class="todo-list-item">
                    <div class="todo-list-item-name"><%= details.content %></div>
                        <a href="/edit/<%= details._id %>" class="edit"> <span class="fas fa-edit"></span>
                        </a>
                        <a href="/remove/<%= details._id %>" class="remove"> <span class="fas fa-times"></span>
                        </a>
                </li>
                <% } %>
                <% }) %>
                </ul>
            </div>
        </div>
    </body>
